@import '../../../../assets/variables.scss';

.content{
    width: 100%;
    height: 90%;
    display: flex;
    padding-top: 10%;
    &__left{
        width: 40%;
        height: 35em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &--heading{
            font-weight: bold;
            text-transform: uppercase;
            width: 50%;
            font-size: 2.5em;
            line-height: 100%;
        }
        &--sub{
            padding-top: 2%;
            font-weight: bold;
            text-transform: lowercase;
            width: 75%;
            font-size: 1.25em;
            line-height: 100%;
        }
        &--button{
            margin-top: 5%;
            border: none;
            background-color: $green;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            width: 25%;
            height: 8%;
            font-size: .9em;
            cursor: pointer;
            border-radius: 2em;
            transition: all ease-out .75s;
            border: .25em solid $green;
            letter-spacing: .15em;
            &:hover{
                background-color: transparent;
                color: $black;
                border: .25em solid $black;
            }
        }
    }
    &__right{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &--circle{
            width: 37.5em;
            height: 37.5em;        
            background-image: url(../../../../assets/svg/hero.svg);
            background-repeat: no-repeat;
            background-size: contain;
            &_furniture{
                width: 100%;
                height: 100%;        
                background-image: url(../../../../assets/svg/furniture.svg);
                background-repeat: no-repeat;
                background-size: 100%;  
                background-position: center;
            }
        }
    }
}

#emphasize{
    color: $green;
}